.banner {
    background-color: #B2AFAB;
    background-position: center center;
    background-size: cover;
    min-height: 70vh;
    max-height: 999px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.expanded {
    transition: width 2s;
    transition-timing-function: cubic-bezier(0.7, 0.5, 1.0, 0.1);
}

.mat-form-field {
    display: flex;
}
table{
    width: 100%;
    ::ng-deep {
        thead {
        background-color: black;
        th {
            color: white;
        }
        }
        tbody {
            tr :hover {
                cursor: pointer;
            }
            tr:hover td {
                cursor: pointer;
               
            }
            tr.example-expanded-row {
               background-color: rgb(233, 61, 61);
            }
        }
    }
    th, td {
        text-align: center;
        font-size: large;
        font-weight: 900;
    }

    .inner-table {
        ::ng-deep {
            thead {
            background-color: rgb(233, 61, 61);
            th {
                color: white;
            }
            }
            tbody {
                tr :hover {
                }
                tr:hover td { /* or #000 */
                }
                tr td{
                    background-color: rgb(233, 61, 61);
                 }
            }
        }
        th, td {
            text-align: center;
            font-size: large;
            font-weight: 900;
        }
    }
    
}

table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }