<div class="banner" data-parallax="true" style="background-image: url('./assets/img/banner1.jpg');">
    <div class="filter"></div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
<div class="col-md-12">
    <h4>ऐतिहासिक तथ्य</h4>
  <p>

    पौराणिक काल में जाबाली ऋषि की तपस्या स्थली, जो कि पाली जिले के अहमदाबाद-दिल्ली रेलमार्ग पर
    स्थित जवाली रेल्वे स्टेशन से चार किमी दूर उत्तर दिशा में प्राकृतिक छटाओं के मध्य स्थित है। जाबाली ऋषि ने इस स्थान
    को अपनी कर्मस्थली बनाकर जाबालेश्वर महादेव की स्थापना कर पास ही आश्रम बनवाया था। काल के प्रवाह में मुगलों ने
    इस मंदिर के शिवलिंग को तोड दिया था तब आज से लगभग 463 वर्ष पहले एक जॉगिड दम्पति ने उज्जैन से एक
    शिवलिंग लाकर यहाँ स्थापित किया था। चूंकि इस शिवलिंग को उज्जैन से यहाँ लाया गया था इसलिए इसे द्वादश
    ज्योर्तिलिंग के समान मान कर पूजा जाता है। इसी जबालेश्वर महादेव की पवित्र भूमि व जाबाली ऋषि की तपोभूमि में
    अनेक मंदिरों की श्रृंखलाओं के मध्य जबालेश्वर महादेव मंदिर के पीछे ही उन महापुरुष की समाधि आज भी स्थित है।
    जाबाली ऋषि की इसी तपोभूमि पर गोडवाड-मारवाड क्षेत्र के जांगिड बधुंओं ने पाली जिले में विक्रम संवत 1551 में प्रथमतः
    गणपति मन्दिर की स्थापना की थी। यहां पुराने समय से प्रतिवर्ष माघ शुक्ल त्रयोदशी विश्वकर्मा जयन्ती पर जिले के उत्तर
    में देवली (चण्डावल), दक्षिण में बिसलपुर, पूर्व में कोट पनोता तथा पश्चिम में भांवरी तक के जांगिड समाज के बन्धु एकत्रित
    होते थे। इसी मन्दिर के आधार पर समाज बंधुओं ने सोजत सिटी तथा मारवाड क्षेत्र के बांता रघुनाथगढ में भी गणपति
    मन्दिरों की स्थापना की थी। जहां विभिन्न अवसरों पर समाजबन्धु एकत्रित होते थे। तत्पश्चात जाबाली ऋषि की तपोभूमि व
    प्राचीन गणपति मन्दिर, जवाली में आज से लगभग पंचान्वें वर्ष पूर्व जांगिड समाज के आराध्यदेव व देवशिल्पी भगवान श्री
    विश्वकर्मा के एक भव्य मंदिर की स्थापना की स्थापना की गई थी, आज यह मन्दिर पाली जिले का सबसे प्राचीन मंदिर मारवाड - गोडवाड के 84 खेडों (गांवों) के जांगिड बंधुओं की आस्था के केन्द्र के रुप में विकसित हो चुका है। जहाँ प्रतिवर्ष
    माघ शुक्ला त्रयोदशी,विश्वकर्मा जयन्ती पर मन्दिर पर वार्षिक अधिवेशन व विश्वकर्मा जयन्ती समारोह हर्षोल्लास के साथ
    सम्पन्न होता है।
    इसी प्रकार आज से लगभग 310 वर्ष पूर्व मारवाड़ क्षेत्र के बांता रघुनाथगढ़ में समाज बंधुओं ने जिस गणपति मन्दिर की
    स्थापना की थी वह मन्दिर देखरेख व सार संभाल के अभाव में जीर्ण क्षीर्ण अवस्था में पहुंच चुका था तब लगभग 160 वर्ष पूर्व
    आस पास के क्षेत्र के समाज बंधुओं ने मिलकर पुनः इस मन्दिर का जिर्णोद्वार करवाकर गणपति के साथ देव शिल्पी भगवान
    श्री विश्वकर्मा की मूर्ति भी स्थापित कर इसकी प्राण प्रतिष्ठा करवाई पिछले कुछ वर्षों में समाज बंधुओं ने मिलकर अपूर्ण
    कार्यों को पूरा करवाने के साथ ही मन्दिर के उपर हाल एवं अलग से प्लॉट लेकर भोजनशाला का निमार्ण कराया। जहां
    प्रतिवर्ष भाद्रपद शुक्ला चतुर्थी पर श्री विश्वकर्मा जांगिड समाज सेवा समिति, जवाली (गोडवाड) द्वारा अर्द्धवार्षिक अधिवेशन
    एंव श्री गणेश चतुर्थी महोत्सव हर्षोल्लास, धूमधाम एवं श्रद्धा के साथ मनाया जाता है। जिसमें मारवाड-गोडवाड क्षेत्र के
    समस्त जांगिड बधुं एकत्रित होते है तथा आम बैठक में भाग लेकर सामाजिक गतिविधियों पर विचार विमर्श करते है।
     
    
     </p>


     <h3>
        श्री सन्त भक्त शोभारामजी की जीवन लीला</h3>
        <p>
        सन्त श्री शोभारामजी महाराज जांगिड ऋषि अंगिरा वंश मे गाँव मांडावाडा मेवाड मे हुए। आपका जन्म वि. संवत् १९१० भादवा
        शुक्ल १४ को हुआ था। शोभारामजी के पिता भक्त डाउरामजी थे माता का नाम सायरबाई था। प्रति दिन ईश्वर प्रार्थना व सन्ध्या
        स्मरण किया करती थी। सरल स्वभाव और शान्ति-सन्तोष की एक प्रतिमा थी।
        1
        शोभारामजी की धर्मपत्नी का नाम देवकी था। शोभारामजी की धर्मपत्नी देवकी का पीहर गोडवाडा बिसलपुर गाँव में जयपालिया
        जाति (गोत्र) मे जन्म हुआ था। वह धर्मात्मा, पति की सेवा व सन्त महात्माओं की सेवा भी किया करती थी। शोभारामजी के
        सुपुत्र का नाम दीपाराम था। जिनके पाँच पुत्र हुए किसनाराम, राजूराम, मोहनराम, जगदीशराम, रघुनाथराम। सन्त
        शोभारामजी ने जांगिड वंश, शिल्पकार तथा गोत्र बलदवा, मेवाड भूमि मे जन्म ले कर जांगिड वंश का गौरव बढाया है आज
        भक्तो मे आपका नाम इस संसार मे प्रसिद्ध है।
        एक समय देवगढ के राम विजयसिंहजी के भवन पर सन्त शोभारामजी को बेगार मे लकडे फाडने के लिये ले गये थे। जब आप
        लकडे फाड रहे थे उसी समय द्वारकापुरी मे द्वारकाधीश की पोशाक आरती करते समय जल उठी, तब योगबल से जान कर सन्त
        शोभारामजी ने अपने हाथो से बुझाया। सन्त शोभारामजी के हाथ काले हो गये, राव विजयसिंहजी ने काले हाथ देख कर
        कहा-तुम्हारे हाथ काले कैसे ?हो गये। तब शोभारामजी ने कहा-


        दोही छन्द
द्वारकापुरी मे होवे आरती, झालर घन्ट बजावे।
जोती जगती बागो जलग्यो, शोभाराम बुझाये।।
विजयसिंहजी का वचन
रोला छन्द
विजयसिंह कहा बोल के, सुनरे शोभा भाई।
हाथ मसलतां काला होया, ये क्या ?जादू चलाई ।।
शोभारामजी का वचन
गीत छन्द
शोभाराम कह सुनो रावजी, न कोई जादू चलायो।
द्वारका में बागो जलग्यो, अपने हाथ बुझायो।।
जे तुमको विश्वास न होवे, पाती लिख भेजाई।
जाय द्वारका परिचय करलो, झूठ नही रति राई।।
विजयसिंह मान अचम्बो, कैसे मानी जावे।
शोभारामजी महाराज
कहाँ द्वारका कहाँ है शोभो, अचरज बात बनावे।।
वाड़ा (देवगढ़)
लिख कर पाती भेज द्वारका, निर्णय आप कराई।
आरती करता बागो जलग्यो, पत्तो न कौन बुझाई।।
पुजारी का वचन
चौपाई छन्द
कहे पुजारी सुनरे भाई, देश ग्राम मेवाड कहाई।
माडावाडा बास बसाये, शोभारामजी भक्त रहावे।।
दोहा छन्द
बागो बुझायो हाथ से, करके मन मे प्रेम।
आता है नित द्वारका, करने को नित नेम।।
चौपाई छन्द
द्वारका की पत्रका बांबो, विजयसिंह जब मानी सांची।
शोभाराम को लिया बुलाई, हाथ जोंड कर अर्ज सुनाई।।
क्षमा कीजिये गुरूवर मेरा, मैं हूँ सदा बरण बेरा।
छोडो काम बेगार हमारी, मैं बेगारी शरण तुम्हारी।।
भक्त भाव की मैं नहीं जानी, ताते जग में रहा अज्ञानी।
भूला राज मद के मांही, ज्ञान-ध्यान की खबर न काही।।
इसी प्रकार नम्र निवेदन किया, धन्य आपकी भक्ति।
मैंने अपने राज्यमद मे इस जीवन को खो डाला।
बहुत पश्चाताप किया, और लकड़ा फाड़ रहे थे, सो हाथ जोड़ कर बन्द करवाया।
दोहा छन्द
क्षमा कीजिये दोश मम, मेरी भूल महान।
सन्त गती जानी नहीं, मैं मूर्ख अज्ञान।।
श्री सन्त भक्त शोभारामजी महाराज
मांडावाडा ( मेवाड़)
श्री सन्त भक्त शोभारामजी महाराज मांडावाडा
शोभा सतगुरू भेटता, भली करी करतार ।
चौरासी दुःख भोगता, मिटी जमा की मार।।
कालुनाथ गुरू देवजी, उदियापुर मे बास।
शोभा को शरणे लिया. दीना शब्द प्रकाश ।।
दोही छन्द
द्वारकापुरी मे होवे आरती, झालर घन्ट बजावे।
जोती जगती बागो जलग्यो, शोभाराम बुझाये।।
विजयसिंहजी का वचन
रोला छन्द
विजयसिंह कहा बोल के, सुनरे शोभा भाई।
हाथ मसलतां काला होया, ये क्या ?जादू चलाई ।।
शोभारामजी का वचन
गीत छन्द
शोभाराम कह सुनो रावजी, न कोई जादू चलायो।
द्वारका में बागो जलग्यो, अपने हाथ बुझायो।।
जे तुमको विश्वास न होवे, पाती लिख भेजाई।
जाय द्वारका परिचय करलो, झूठ नही रति राई।।
विजयसिंह मान अचम्बो, कैसे मानी जावे।
शोभारामजी महाराज
कहाँ द्वारका कहाँ है शोभो, अचरज बात बनावे।।
वाड़ा (देवगढ़)
लिख कर पाती भेज द्वारका, निर्णय आप कराई।
आरती करता बागो जलग्यो, पत्तो न कौन बुझाई।।
पुजारी का वचन
चौपाई छन्द
कहे पुजारी सुनरे भाई, देश ग्राम मेवाड कहाई।
माडावाडा बास बसाये, शोभारामजी भक्त रहावे।।
दोहा छन्द
बागो बुझायो हाथ से, करके मन मे प्रेम।
आता है नित द्वारका, करने को नित नेम।।
चौपाई छन्द
द्वारका की पत्रका बांबो, विजयसिंह जब मानी सांची।
शोभाराम को लिया बुलाई, हाथ जोंड कर अर्ज सुनाई।।
क्षमा कीजिये गुरूवर मेरा, मैं हूँ सदा बरण बेरा।
छोडो काम बेगार हमारी, मैं बेगारी शरण तुम्हारी।।
भक्त भाव की मैं नहीं जानी, ताते जग में रहा अज्ञानी।
भूला राज मद के मांही, ज्ञान-ध्यान की खबर न काही।।
इसी प्रकार नम्र निवेदन किया, धन्य आपकी भक्ति।
मैंने अपने राज्यमद मे इस जीवन को खो डाला।
बहुत पश्चाताप किया, और लकड़ा फाड़ रहे थे, सो हाथ जोड़ कर बन्द करवाया।
दोहा छन्द
क्षमा कीजिये दोश मम, मेरी भूल महान।
सन्त गती जानी नहीं, मैं मूर्ख अज्ञान।।
श्री सन्त भक्त शोभारामजी महाराज
मांडावाडा ( मेवाड़)
श्री सन्त भक्त शोभारामजी महाराज मांडावाडा
शोभा सतगुरू भेटता, भली करी करतार ।
चौरासी दुःख भोगता, मिटी जमा की मार।।
कालुनाथ गुरू देवजी, उदियापुर मे बास।
शोभा को शरणे लिया. दीना शब्द प्रकाश ।।
    </p>
  
 </div>
  </div>
  </div>
  </div>
  